body {
  font-family: 'Special Elite';
  background: #ff2da7;
  margin: 0px;
  padding: 0px;
}

button:focus, input:focus, textarea:focus {
  outline:0;
  box-shadow: none;
}

button {
  font-family: 'Special Elite';
  border: none;
  cursor: pointer;
}
