/* pins */
.pin-container {
  z-index: 1000;
  position: absolute;
  right: 0px;
  top: 0px;
  display: inline;
  font-size: 30px;
}

.pin-entry {
  background-color: rgba(255, 45, 167, 0.720);
  margin: 1px 0px;
  padding: 8px 10px;
  position: relative;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
}

.pin-direction {
  display: none;
  color: #fff;
  font-family: 'Press Start 2P';
  font-size: 8px;
  position: absolute;;
  right: 10px;
  bottom: 5px;
}

.pin-entry:hover {
  background: #ff2da7;
}

.pin-entry:hover .pin-direction {
  display: block;
}

.pin-entry:hover .pin-description {
  color: rgba(255, 38, 0, 1.000);
}

@keyframes pulse_animation {
  0% { transform: scale(1); }
  30% { transform: scale(1); }
  40% { transform: scale(0.95); }
  50% { transform: scale(1); }
  60% { transform: scale(1); }
  70% { transform: scale(0.9); }
  80% { transform: scale(1); }
  100% { transform: scale(1); }
}

.pin-entry:hover .movable-pin {
  border-radius: 20%;
  animation-name: pulse_animation;
  animation-duration: 800ms;
  transform-origin:70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.movable-pin {
  background: transparent;
  display: inline-block;
  width: 30px;
}

.movable-pin:active {
  cursor: grabbing;
  background: transparent;
}

.pin-description {
  font-family: 'Press Start 2P';
  font-size: 8px;
  display: inline;
  margin-left: 10px;
  text-transform: uppercase;
  vertical-align: middle;
}


/* map */
.map-container {
  height: 720px;
  width: 100%;
  position: relative;
}

.mini-map {
  z-index: 650;
  width: 180px;
  position: absolute;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 1px solid #ff2da7;
  pointer-events: none;
}

/* map pins */
.delete-pin {
  display: inline;
  text-decoration: underline;
  cursor: pointer;
  color: rgba(190, 29, 0, 1.000);
}

.delete-pin:hover {
  text-decoration: none;
  color: rgba(142, 22, 0, 1.000);
}

/*leaflet overrides*/

.leaflet-fade-anim .leaflet-popup {
  transition: none;
}

.leaflet-container {
  height: 720px;
}

.leaflet-popup-tip {
  display: none;
}
.leaflet-popup-content-wrapper {
  box-shadow: none;
  background: #e969af;
  width: 180px;
  border: 1px solid #ff2da7;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 0px;
}
.leaflet-popup-content {
  margin: 25px 10px 10px 10px;
}

.leaflet-container a.leaflet-popup-close-button {
  right: 15px;
  top: 5px;
  font-weight: normal;
  color: #7c7c7b;
}
.leaflet-popup-content ::-webkit-input-placeholder {
  color: #7c7c7b;
}
.leaflet-popup-content input, .leaflet-popup-content textarea {
  border-radius: 3px;
  background: #e992bf;
  border: none;
  width: 150px;
  margin-bottom: 5px;
  padding: 3px;
  font-family: 'Share Tech Mono';
  font-size: 12px;
  font-weight: normal;
  /*border-bottom: 1px solid #000;*/
}
.leaflet-popup-content textarea {
  height: 3em;
}
