body {
  font-family: 'Press Start 2P';
  background: #ff2da7;
  margin: 0px;
  padding: 10px;
}

#header {
  width: 100%;
  font-family: 'Press Start 2P';
  font-size: 12px;
}

.header-section {
  background-color: #fff;
  height: 40px;
  box-sizing: border-box;
  padding: 5px 6px;
}

#app-title-container {
  box-sizing: border-box;
  width: 30%;
  padding: 10px;
  float: left;
}

#app-title {
  font-size: 30px;
  line-height: 30px;
}

#app-title h1 {
  display: inline;
  font-size: 17px;
  vertical-align: middle;
}

#app-description-container {
  box-sizing: border-box;
  width: 45%;
  padding: 10px;
  float: left;
}
#app-description {
  font-size: 10px;
  line-height: 1.5;
}
#app-author-container {
  box-sizing: border-box;
  width: 25%;
  padding: 10px;
  float: left;
}

#app-buttons-container {
  float: right;
  box-sizing: border-box;
  width: 25%;
  padding: 10px;
}

button {
  font-family: 'Press Start 2P';
  border: none;
  cursor: pointer;
}

#save {
  float: right;
  background: #000;
  color: #fff;
  height: 40px;
  width: 60px;
}
