body {
  font-family: 'Press Start 2P';
  background: #ff2da7;
  margin: 0px;
  padding: 0px;
}

button:focus, input:focus, textarea:focus {
  outline:0;
  box-shadow: none;
}

#header {
  font-family: 'Press Start 2P';
  padding: 10px 30px;
}

#app-title {
  font-size: 30px;
  display: inline;
}

#app-title h1 {
  display: inline-block;
  margin: 0px 13px;
  font-size: 17px;
  vertical-align: middle;
}

#app-description {
  font-size: 10px;
  display: inline-block;
  width: 500px;
  margin-left: 30px;
}

#app-buttons-container {
  float: right;
  line-height: 35px;
}

button {
  font-family: 'Press Start 2P';
  border: none;
  cursor: pointer;
}

#save {
  font-size: 10px;
  background: #000;
  color: #fff;
  padding: 10px;
}

#root {
  position: relative;
}
